
@{
    ViewData["Title"] = "ImportarArquivoXLS";
}
<div class="container">
    <div class="card">
        <h3 class="title text-center" style="text-align:center">Importar Arquivos XLS</h3>
        <div class="card-body">
            <br/>
            <div class="text-center">
                <div>
                    <label class="form-control text-light">
                        Baixe a planilha modelo para importação
                    </label><br />
                </div>
                <div>
                    <a href="~/file/modelo-pagamento-fornecedor-RPV.xlsx" class="btn btn-filebaixar btn-light">
                        <span style="color:black"><i class="fa fa-download"></i> &nbsp;Baixar</span>
                    </a>
                </div><br />
            </div>
        </div>
    </div>
</div>